      * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;}
body {
  background-color: #f4f4f4;
  color: #333;}
header {
  background-color: #15b47c;
  color: white;
  text-align: center;
  padding: 20px 0;}
header h1 {
  font-size: 28px;
  margin-bottom: 10px;}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;}
nav a:hover {
  text-decoration: underline;}
section {
  padding: 40px 20px;
  text-align: center;
  background: white;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);}
h2 {
  color: #85be12;
  margin-bottom: 20px;}
img.profile {
  width: 150px;
  border-radius: 60px;
  margin-bottom: 20px;}
table {
  width: 60%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #f9f9f9;}
th, td {
  border: 1px solid #0044cc;
  padding: 10px;
  text-align: center;}
th {
  background-color: #0044cc;
  color: white;}
.project {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 15px auto;
  padding: 15px;
  width: 70%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;}
.project-link {
  text-decoration: none;
  color: inherit;}
.project-link:hover .project {
  background-color: #e6f0ff;
  border-color: #0044cc;
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 68, 204, 0.3);
  cursor: pointer;}
.project:active {
  transform: scale(0.98);
  transition: 0.1s;}
form {
  width: 60%;
  margin: 0 auto;
  text-align: left;}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;}
input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #0044cc;
  border-radius: 4px;}
button {
  margin-top: 15px;
 background-color: #0044cc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}

footer {

 border: #0044cc;
  color: black;
  text-align: center;
  padding: 15px;}
footer  {
    
  color: black;
  text-decoration: none;
  font-weight: bold;}
footer a:hover {
  text-decoration: underline;}